<!doctype html>
<html {{site.language_attributes}}>
<head>
    <meta charset="{{site.charset}}" />
        <title>
            {% if wp_title %}
                {{ wp_title }} - {{ site.name }}
            {% else %}
                {{ site.name }}
            {% endif %}
        </title>
    <meta name="description" content="{{site.description}}">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

    <!-- <script src="https://use.typekit.net/wav7ccj.js"></script> -->
    <script>try{Typekit.load({ async: true });}catch(e){}</script>



    <link rel="apple-touch-icon" sizes="57x57" href="{{site.theme.link}}/img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{site.theme.link}}/img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{site.theme.link}}/img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{site.theme.link}}/img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{site.theme.link}}/img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{site.theme.link}}/img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{site.theme.link}}/img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{site.theme.link}}/img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{site.theme.link}}/img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{site.theme.link}}/img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{site.theme.link}}/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="{{site.theme.link}}/img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{site.theme.link}}/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="{{site.theme.link}}/img/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{site.theme.link}}/img/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">



    <meta property="og:image" content="{{site.theme.link}}/img/share.jpg" />
    <meta property="og:description" content="For over 20 years, we’ve helped asset managers use data to drive their distribution strategies. By leveraging your existing data and third-party systems, SalesPage helps you target the right advisor, with the right message, at the right time." />
    <link rel="image_src" href="{{site.theme.link}}/img/share.jpg">
    <link rel="apple-touch-icon" sizes="72x72" href="{{site.theme.link}}/img/icon.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{site.theme.link}}/img/retina-icon.png">


    <link rel="stylesheet" href="{{site.theme.link}}/css/style.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{site.theme.link}}/css/flexslider.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{site.theme.link}}/css/tooltipster.bundle.min.css" type="text/css" media="screen" />
    <link rel="pingback" href="{{site.pingback_url}}" />
    <link href="https://fonts.googleapis.com/css?family=Abel|Lato:300,300i,400,700" rel="stylesheet">

    {{function('wp_head')}}
